* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color:azure;
}
img {
  max-width: 100%;
}
.slider-game {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5%;
}
.container {
  display: grid;
  width: 20em;  
  height: 30em; 
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 6em; 
  margin: 0; /* Add this line to reset margins */
  padding: 0; 
  gap:0;
}
.container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.space {
  padding: 1em 1em 1em 1em;
}
.original-image {
  width: 25em;
  height: 25em;
}
/* .image-container {
  border: 1px solid #000000;
  background-color: white;
  height: 8em

} */
.image-container {
  border: 1px solid #000000;
  /* background-image: url('original_imag.png');  */
  background-size: cover;
  background-position: center;
  height: 6em;
}
hr{
  background-color: azure;
  padding: 2em 2em 2em 2em 
}
.cover-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7D9CC0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#start-button {
  font-size: 1.2em;
  padding: 0.8em 2em;
  border: none;
  border-radius: 3em;
  cursor: pointer;
}
#moves {
  position: relative;
  margin: 1em;
  text-align: right;
}
.hide {
  display: none;
}
@media only screen and (max-width: 768px) {
  .slider-game {
    flex-direction: column;
  }
  .container {
    width: 20em;
    height: 24em;
    grid-auto-rows: 8em;
  }
  .original-image {
    width: 20em;
    height: 20em;
  }
}
